[alias]
	st=status
	branch-name = "!git rev-parse --abbrev-ref HEAD"
    	publish = "!git push -u origin $(git branch-name)"
	tree="!git log --graph --decorate --pretty=oneline --abbrev-commit"
[credential]
	helper = cache --timeout 86400
[user]
	name = Radosavljevic, Milan
[core]
	hooksPath = ~/gitconfig/hooks
